In [1]:
import pandas as pd

# your dataset path
csv_path = "data.csv"   # since your file is in the same folder as the notebook

# read only first 100,000 rows (to avoid laptop slowdown)
df = pd.read_csv(csv_path, nrows=100_000)

# show first 5 rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1,1.2,1,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1,1.2,1,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1,0.6,1,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1,0.8,1,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  int64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 13.7+ MB

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,1.701160,1.654770,3.354837,1.090340,155.288550,152.662640,1.361570,13.546777,0.957313,0.489860,2.092456,0.345332,0.297198,19.288070,2.210760
std,0.457752,1.212518,3.898794,1.249878,70.370532,74.300187,0.521114,13.045715,1.136622,0.083679,3.380310,1.734992,0.040084,15.604791,0.826004
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-207.000000,-0.500000,-0.500000,-0.800000,-10.500000,-0.300000,-207.300000,-2.500000
25%,1.000000,1.000000,1.100000,1.000000,100.000000,88.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,10.800000,2.500000
50%,2.000000,1.000000,2.000000,1.000000,152.000000,151.000000,1.000000,9.500000,0.500000,0.500000,1.700000,0.000000,0.300000,14.760000,2.500000
75%,2.000000,2.000000,4.000000,1.000000,231.000000,231.000000,2.000000,16.000000,2.500000,0.500000,2.950000,0.000000,0.300000,21.960000,2.500000
max,2.000000,9.000000,100.150000,99.000000,265.000000,265.000000,4.000000,400.000000,3.500000,0.500000,450.000000,126.120000,0.300000,465.300000,2.750000